* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0 auto;
  background-color: #228cd8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  padding-bottom: 30px;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  height: 100px;
}

header img {
  height: 100px;
}

.search {
  position: relative;
  width: 80%;
  max-width: 560px;
}

.search input {
  font-size: 1.2rem;
  width: 100%;
  max-width: 560px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px #0b7189 solid;
}

#autocomplete {
  max-width: 560px;
  width: 100%;
  display: block;
  position: absolute;
  top: 2.7rem;
  left: 0;
  background-color: white;
  border-radius: 5px;
}

.search_card {
  padding: 5px;
  min-width: 100%;
  max-width: 560px;
}

.search_card:hover {
  border-radius: 5px;
  background-color: #ddd;
  min-width: 80%;
  max-width: 560px;
}

.search_card a {
  margin-left: 5px;
  text-decoration: none;
  color: #170a1c;
  font-size: 1.2rem;
  cursor: pointer;
}

.search_card p {
  color: #888;
  font-size: 1.2rem;
}

.pokedex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokedex h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: aliceblue;
}

.container {
  width: 80%;
}

.card {
  width: 100%;
  height: fit-content;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
  border-radius: 5px;
}

.poke_info {
  padding: 0 20px;
}

.poke_info h2 {
  margin-bottom: 10px;
  font-size: 1.7rem;
  text-transform: capitalize;
}

.poke_info a {
  text-decoration: none;
  color: #170a1c;
  cursor: pointer;
}

.poke_info div {
  font-weight: bold;
  color: white;
  outline: none;
  display: inline-block;
}

.poke_info div img {
  width: 1.1rem;
}

.poke_img img {
  padding-right: 10px;
  max-height: 125px;
}

/* Classes for each pokemon type */
.type_border {
  padding: 5px;
  border-radius: 5px;
}

.type_normal {
  background-color: #a8a878;
}

.type_fire {
  background-color: #f08136;
}

.type_fighting {
  background-color: #c03028;
}

.type_water {
  background-color: #6890f0;
}

.type_flying {
  background-color: #a890f0;
}

.type_grass {
  background-color: #78c850;
}

.type_poison {
  background-color: #a153a0;
}

.type_electric {
  background-color: #f8d03c;
  color: #170a1c;
}

.type_ground {
  background-color: #e0c068;
  color: #170a1c;
}

.type_psychic {
  background-color: #f65888;
}

.type_rock {
  background-color: #b8a038;
}

.type_ice {
  background-color: #705848;
  color: #170a1c;
}

.type_bug {
  background-color: #b9b8d0;
}

.type_dragon {
  background-color: #797af8;
}

.type_ghost {
  background-color: #68a090;
}

.type_dark {
  background-color: #705848;
}

.type_steel {
  background-color: #b9b8d0;
  color: #170a1c;
}

.type_fairy {
  background-color: #ee99ac;
}

.type_unknown {
  background-color: #68a090;
}

/* Tablet screen size */

@media screen and (min-width: 481px) {
  .container {
    width: 80%;
    display: grid;
    grid-gap: 0 20px;
    grid-template-columns: repeat(2, 48%);
  }

  .card {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .poke_info div {
    margin-bottom: 5px;
  }

  .poke_info p {
    margin-top: 20px;
  }

  .poke_img img {
    padding-right: 10px;
    width: 100%;
  }
}

/* Notebook screen size */

@media screen and (min-width: 769px) {
  .container {
    width: 80%;
    display: grid;
    grid-gap: 0 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .poke_img img {
    padding-right: 10px;
    width: 100%;
  }
}

/* Desktop screen size */
@media screen and (min-width: 1280px) {
  .container {
    width: 80%;
    display: grid;
    grid-gap: 0 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    flex-direction: row;
    justify-content: space-between;
  }

  .poke_img img {
    padding-right: 10px;
    width: 100%;
  }
}

/* =================
    POKEMON PAGE
================= */
main {
  width: 80%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
  border-radius: 5px;
}

.pokemon_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon_info {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.pokemon_info h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  text-transform: capitalize;
}

#pokemon-types {
  display: block;
  width: 100%;
  align-items: center;
}

.pokemon_info div {
  padding: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
  outline: none;
  display: inline-block;
  text-transform: capitalize;
}

.pokemon_info div img {
  width: 1.1rem;
}

.pokemon_img img {
  max-height: 175px;
}

.pokemon_details {
  width: 100%;
  padding: 20px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}

.pokemon_details h2 {
  margin: 10px auto;
  font-size: 1.6rem;
}

.detail {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.attribute {
  font-weight: bold;
}

#abilities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navigation buttons */

.nav_buttons {
  margin: 20px 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav_buttons div {
  width: 100%;
  margin: 5px 0;
  border-radius: 5px;
}

.nav_buttons a {
  padding: 10px 0;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
}

.nav_buttons .prev_next {
  background-color: #c19ab7;
}

.nav_buttons .prev_next:hover {
  background-color: #c59fc0;
}

.nav_buttons .back_btn {
  background-color: #9c95dc;
}

.nav_buttons .back_btn:hover {
  background-color: #a09adf;
}

/* Tablet screen size */

@media screen and (min-width: 481px) {
  .pokemon_img img {
    width: 100%;
    height: auto;
    max-height: 200px;
  }
  .pokemon_container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  #pokemon-types {
    text-align: center;
  }
}

/* Notebook screen size */

@media screen and (min-width: 769px) {
  .pokemon_img img {
    width: 100%;
    height: auto;
    max-height: 250px;
  }
  .pokemon_details,
  .pokemon_info {
    font-size: 1.4rem;
  }
  .pokemon_details h2 {
    font-size: 1.8rem;
  }
  .pokemon_info h2 {
    font-size: 2.5rem;
  }

  .nav_buttons {
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .nav_buttons div {
    width: 100%;
  }
}

.hidden {
  display: hidden;
}

.invisible {
  opacity: 0;
}
